$white: #fff;
$black: #000;
$grey: #f0f0f0;
$dark-gray: #acacad;
$red: #f9b7b7;
$green: #00d16d;
$rubin: #e53636;
$secondary-grey: #7d858c;
$purple: #3e0b72;
$blog-link: #fd8f70;
$purple-light: #f9f9ff;
$purple-medium: #e9e9ef;
$purple-night: #280050;
$purple-hover: #5a14a3;
$winecolor-red: #c00;
$winecolor-white: #fff386;
$winecolor-rose: #ffb7c4;
$side-indent: 40px;
$side-indent-sm: 20px;
$breakpoints: (
        xs: 0,
        ss: 362px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        mb: 1025px,
        xl: 1200px,
        xxl: 1400px,
);
