.btn {
    padding: 10px 25px;
    border-radius: 10px;
    text-transform: none;
}
.btn-outline {
    color: #604D9E;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    border-color: transparent;
}

.btn-primary {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    background-color: #AAA2D8;
}
@media screen and (max-width: 1280px) {
    .v-container {
        width: 100% !important;
        max-width: 100% !important;
    }
}
